<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    





        <!--                       body                         -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        <style>
            .carousel-indicators {
                bottom: -50px;
            }
        </style>
        <section id="intro-header" class="item d-none d-lg-block" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('/static/img/bunny_big.jpg');">
    
    
            <nav class="navbar navbar-expand-lg">
                <div class="navbar-nav">
                    <a class="navbar-brand ml-2" href="/">
                        <img src="/static/img/logo.png" class="img-fluid">
    
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
    
                        <li class="nav-item btn btn-sm custom-button d-none d-lg-block">
                            <a class="nav-link " href="/">
                                &nbsp;Home
                            </a>
                        </li>
                        <li class="nav-item btn btn-sm custom-button d-none d-lg-block">
                            <a class="nav-link" href="/accounts/user-signup/">
    
                                &nbsp;Sign Up
                            </a>
                        </li>
    
    
    
                        <li class="nav-item btn btn-sm custom-button d-none d-lg-block">
                            <a class="nav-link" href="/login">
    
                                &nbsp;Log In
                            </a>
    
    
                        </li>
    
                    </ul>
    
                </div>
            </nav>
    
    
    
    
    
            <div class="container">
                <!-- row 2 -->
                <div class="row justify-content-center">
                    <div class="wrap-headline" style="width:95%">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                            </ol>
                            <d
                            iv class="carousel-inner fixed-carousel-height">
                                <div class="carousel-item">
                                    <h1 class="text-center">Queue virtually </h1>
    
                                    <div class="d-flex justify-content-center ">
                                        <h5 class="inner-carousel-width text-center">
    
                                            Be present only when you need to
                                        </h5>
                                    </div>
    
                                    <br>
                                </div>
    
    
                                <div class="carousel-item active">
                                    <h1 class="text-center">Create your line</h1>
                                    <div class="d-flex justify-content-center ">
    
                                        <h5 class="inner-carousel-width text-center">
                                            Make your own line and manage the queue.
                                        </h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h1 class="text-center">Make Orders</h1>
                                    <div class="d-flex justify-content-center ">
    
    
    
                                        <h5 class="inner-carousel-width text-center">
                                            Skip queues entirely.
                                            Just order and pick up
                                        </h5>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
    
                </div>
                <div class="row justify-content-center" style="position: relative;bottom: 0px; margin:0.6em;">
                    <a href="/accounts/user-signup/">
    
                        <button class="btn btn-primary btn-lg" style="font-family: sans-serif;"> Get Started</button>
                    </a>
                </div>
                <br>
            </div>
        </section>
    
    
    
    
    
    
    
    
        <section id="intro-header" class="item d-block d-lg-none" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('/static/img/bunny_big_small.jpg');">
    
    
            <nav class="navbar navbar-expand-lg">
                <div class="navbar-nav">
                    <a class="navbar-brand ml-2" href="/">
                        <img src="/static/img/logo.png" class="img-fluid">
    
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <a class="nav-link " href="/">
    
                            <li class="nav-item custom-button ">
                                &nbsp;Home
                            </li>
                        </a>
    
                        <a class="nav-link" href="/accounts/user-signup/">
                        <li class="nav-item custom-button">
    
    
                            &nbsp;Sign Up
                        </li>
                        </a>
    
    
    
                        <a class="nav-link" href="/login">
    
                            <li class="nav-item custom-button ">
    
                                &nbsp;Log In
    
    
                            </li>
                        </a>
    
    
                    </ul>
    
                </div>
            </nav>
    
    
    
    
    
            <div class="container">
                <!-- row 2 -->
                <div class="row justify-content-center">
                    <div class="wrap-headline" style="width:95%">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner fixed-carousel-height">
                                <div class="carousel-item">
                                    <h1 class="text-center">Queue virtually </h1>
    
                                    <div class="d-flex justify-content-center ">
                                        <h5 class="inner-carousel-width text-center">
    
                                            Be present only when you need to
                                        </h5>
                                    </div>
    
                                    <br>
                                </div>
    
    
                                <div class="carousel-item">
                                    <h1 class="text-center">Create your line</h1>
                                    <div class="d-flex justify-content-center ">
    
                                        <h5 class="inner-carousel-width text-center">
                                            Make your own line and manage the queue.
                                        </h5>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <h1 class="text-center">Make Orders</h1>
                                    <div class="d-flex justify-content-center ">
    
    
    
                                        <h5 class="inner-carousel-width text-center">
                                            Skip queues entirely.
                                            Just order and pick up
                                        </h5>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
    
                </div>
                <div class="row justify-content-center" style="position: relative;bottom: 0px; margin:0.6em;">
                    <a href="/accounts/user-signup/">
    
                        <button class="btn btn-primary btn-lg" style="font-family: sans-serif;"> Get Started</button>
                    </a>
                </div>
                <br>
            </div>
        </section>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        <section id="about">
            <div class="container">
                <!-- row 3 -->
    
                <div class="row">
    
                    <div class="col-sm-4">
                        <div class="row justify-content-center">
                            <div class="round-icon">
                                <i class="far fa-clock fa-lg"></i>
    
                            </div>
                        </div>
                        <div style="margin:3em">
                            <h5 class="text-center mt-2">Save time</h5>
                            <p class="text-center">
                                You can save a lot of time by doing other activities while you queue.
                                Only be present when you it's time for you to be attended to
                            </p>
                        </div>
                    </div>
    
    
    
                    <div class="col-sm-4">
                        <div class="row justify-content-center">
                            <div class="round-icon">
                                <i class="fa fa-store fa-lg"></i>
    
                            </div>
                        </div>
                        <div style="margin:3em">
                            <h5 class="text-center mt-2">Skip queues</h5>
                            <p class="text-center">
                                You can skip queues entirely by using our ordering service.
                                You will be notified when the order is ready and you only have to pick it up
                            </p>
                        </div>
                    </div>
    
    
                    <div class="col-sm-4">
                        <div class="row justify-content-center">
                            <div class="round-icon">
                                <i class="fas fa-user-friends fa-lg"></i>
    
                            </div>
                        </div>
                        <div style="margin:3em">
    
                            <h5 class="text-center">Control your queue</h5>
                            <p class="text-center">
                                You can also create you own queue and have complete control over it.
                                Set opening and closing time, send messages to people on the queue, remove people, and many
                                more
                            </p>
                        </div>
    
                    </div>
                </div>
    
    
    
    
    
    
            </div>
        </section>
    
    
    
    
    
    
    
    
    
        
       
    
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-4">
                    <img src="/static/img/logo.png" class="img-fluid">
                </div>
                <div class="col-sm-2 col-4">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="mailto:support@qolom.com">Contact</a></li>
    
                    </ul>
                </div>
    
                <div class="col-sm-2 col-4">
                    <h5>Social</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://instagram.com/ojetokunlanre">Facebook</a></li>
                        <li><a href="https://twitter.com/ojetokunlanre">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 offset-sm-0 col-4 offset-4">
                    <h5>Map</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Sign In</a></li>
                        <li><a href="/accounts/user-signup/">Sign Up</a></li>
                        <li><a href="/accounts/business-signup/">Sign Up (Business)</a></li>
                        
                        <li><a href="/accounts/forgot-password/"> Forgot password</a></li>
    
    
    
    
    
                    </ul>
                </div>
                <div class="col-sm-4 col-4">
                    <address>
                        <strong>Qolom Ltd</strong>
                        <br>
                        <div style="color:rgb(243, 243, 243);font-weight:bold;">
                            K55/56, Ikota Complex,<br>
                            Victoria Garden City,<br>
                            Lagos.<br>
    
                            Tel: + 234 811 719 4807<br>
                            E-mail: support@qolom.com
                        </div>
    
                    </address>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mt-5">
                    <a href="/legal-terms-of-use/">Terms of Use </a> &emsp;<a href="/privacy-policy/">Privacy Policy</a> <br>
    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mt-1 text-center" style="color:rgb(243,243,243)">
                    Copyright © 2021 Qolom Ltd<br>
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
    
    
    
    
    
    
</body>
</html>