.about-us-img{
  background-image: url(../assests//images/carousel.jpg);
  background-size : cover;
  background-repeat : no-repeat;
  /* background-position : right; */
  width : 100%;
    
  }
@media only screen and (min-width:320px) and (max-width:1128px){
    .about-us-img{
      background-image: url(../assests//images/carousel.jpg);
      background-size : cover;
      background-repeat : no-repeat;
      background-position : right;
      width : 100%;
       
      }
  }

  .opacity{
    background-color: rgba(0, 0, 0,0.9);
    opacity: 0.9;
    height: 500px;
    /* width: 100%; */

}